@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: 'Josefin Sans', sans-serif;
  /* font-weight: 900; */
  height: 100vh;
  width: 100vw;
}

@media screen and (max-width: 479px) {

  .conteiner-login {
    background-color: white;
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    height: 200px;
    justify-content: center;
    width: 300px;
  }

  .input-login {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 4px aquamarine;
    height: 30px;
    margin: 10px auto;
    padding-left: 10px;
    width: 90%;
  }

  .logo {
    font-size: 30px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-weight: 900px;
  }

  .logo span {
    color: white;
    animation-name: loop;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
  }

  @keyframes loop {
    from {
      color: black;
      opacity: 1;
    }
    to {
      color: white;
      opacity: 0;
    }
  }

  header {
    border-bottom: 1px solid black;
    display: inline-flex;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  header p {
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    order: 2;
    font-size: 30px;
  }

  .icon-menu {
    order: 1;
    font-size: 35px;
  }

  .icon-cart {
    order: 3;
    font-size: 35px;
  }

  .icon-cart span {
    position: absolute;
    font-size: 20px;
    right: 10px;
  }

  main {
    display: inline;
    position: absolute;
    text-align: center;
    top: 65px;
    width: 100%;
  }
  
  main > p:nth-child(1) {
    font-size: 30px;
  }

  .container-form {
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  form input {
    margin: 5px auto;
    border-radius: 5px;
    height: 35px;
    padding-left: 10px;
    width: 320px;
  }

  form select {
    padding-left: 5px;
    background-color: white;
    margin: 5px auto;
    border-radius: 5px;
    height: 35px;
    width: 320px;
  }

  .container-products {
    margin-top: 20px;
    height: 45vh;
    overflow-y: scroll;
    width: 100%;
  }

  .container-products::-webkit-scrollbar {
    display: none;
  }

  li {
    align-items: center;
    display: flex;
    height: 35px;
    justify-content: space-around;
  }

  li > p:nth-child(1) {
    font-size: 20px;
    width: 70px;
  }

  li > p:nth-child(2) {
    font-size: 20px;
    width: 40px;
  }

  li > p:nth-child(3) {
    font-size: 20px;
    width: 100px;
  }

  li > button {
    background-color: transparent;
    border: none;
    font-size: 20px;
  }

}
